@keyframes go-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes go-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes move-front {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-back {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}

@keyframes go-in {
  from {
    transform: translateX(-100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes go-out {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(-100%) scale(0);
  }
}

@keyframes comes-from-left {
  from {
    transform: translateX(100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes disappear-to-left {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(100%) scale(0);
  }
}

@keyframes inverse-move-front {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-15%);
  }
}

@keyframes inverse-move-back {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes show-modal {
  from {
    background-color: transparent;
    z-index: -100;
    transform: translateY(-100%) translateZ(0);
  }
  to {
    background-color: white;
    z-index: 100;
    transform: translateY(0) translateZ(100%);
  }
}

@keyframes hide-modal {
  from {
    background-color: white;
    z-index: 100;
    transform: translateY(0) translateZ(100%);
  }
  to {
    background-color: transparent;
    z-index: -100;
    transform: translateY(-200%) translateZ(0);
  }
}

@keyframes rotate90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
