@keyframes go-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes go-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes move-front {
  from {
    transform: translateX(-140%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-back {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-140%);
  }
}

@keyframes go-in {
  from {
    transform: translateX(-100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes go-out {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(-100%) scale(0);
  }
}

@keyframes comes-from-left {
  from {
    transform: translateX(100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes disappear-to-left {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(100%) scale(0);
  }
}

@keyframes inverse-move-front {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-15%);
  }
}

@keyframes inverse-move-back {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(100%);
  }
}
